.game-board{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.fundo.funanimado{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fundo-transicao 217s infinite;
}

.chao.chanimado{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: chao-transicao 217s infinite;
}

/*------------------------------------------------------------------------------*/



.sol.sanimado{
    position: absolute;
    width: 200px;
    bottom: 730px;
    left: 1200px;
    animation:  sol-animacao 120s linear forwards;
    background-repeat: no-repeat;

}

.nuvem1.nanimado{
    position: absolute;
    width: 200px;
    bottom: 600px;
    animation:  nuvem1-animacao 90s linear forwards;
    background-repeat: no-repeat;
}


.igreja1.animada{
    position: absolute;
    width: 400px;
    bottom: 160px;
    animation: igreja1-animacao 60s linear forwards;
    background-repeat: no-repeat;
}

.igreja3-dia.i3animada{
    position: absolute;
    width: 350px;
    bottom: 160px;
    animation:  igreja3-dia-animacao 115s linear forwards;
    background-repeat: no-repeat;
}

.casa1-dia.c1danimada{
    position: absolute;
    width: 220px;
    bottom: 160px;
    animation: casa1-animacao 90s linear forwards;
    background-repeat: no-repeat;
}

.casa2-dia.c2danimada{
    position: absolute;
    width: 220px;
    bottom: 160px;
    animation: casa2-animacao 100s linear forwards;
    background-repeat: no-repeat;

}

.cacto1.c1animado{
    position: absolute;
    width: 120px;
    bottom: 110px;
    animation:  cacto1-animacao 40s  linear 3 forwards;
    background-repeat: no-repeat;
}

.cacto2.c2animado{
    position: absolute;
    width: 100px;
    bottom: 100px;
    animation:  cacto2-animacao 65s linear forwards;
    background-repeat: no-repeat;
}

.passaro.panimado{
    position: absolute;
    width: 100px;
    bottom: 500px;
    animation: passaro-animacao 30s linear forwards;
    background-repeat: no-repeat;

}

.milho.animado{
    position: absolute;
    bottom: 10px;
    width: 90px;
    right: 2000px;
    animation: milho-animacao 2.5s linear 5s 39 forwards;
    background-repeat: no-repeat;
}

.pedra.panimada{
    position: absolute;
    bottom: 10px;
    width: 90px;
    right: 2000px;
    animation: pedra-animacao 3s linear 18s 20 forwards;
    background-repeat: no-repeat;

}

.arbusto.aanimado{
    position: absolute;
    width: 35px;
    bottom: 20px;
    animation: arbusto-animacao 5s linear infinite;
    
}

.personagem{
    width: 130px;
    left: 50px;
    position: absolute;
    bottom: 10px;
}

.pulo{
    animation: personagem-pulo 500ms ease-out; 
}

/*------------------------------------------115-----------------------------*/

.fogueira.fanimada{
    position: absolute;
    bottom: 10px;
    width: 90px;
    right: 2000px;
    animation: fogueira-animacao 2.5s linear 115s 38 forwards;
}

.igreja2-noite.i2nanimada{
    position: absolute;
    width: 200px;
    bottom: 160px;
    right: 2000px;
    animation: igreja2-animacao 60s linear 112s forwards;
    background-repeat: no-repeat;
}

.lua.lanimada{
    position: absolute;
    width: 170px;
    left: 1200px;
    bottom: -2000px;
    animation: lua-animacao 110s linear 109s forwards;
}

.casa1-noite.c1nanimada{
    position: absolute;
    width: 220px;
    bottom: 160px;
    right: 2000px;
    animation: casa1-noite-animacao 62s linear 163s forwards;
    background-repeat: no-repeat;
}

.casa2-noite.c2nanimada{
    position: absolute;
    width: 220px;
    bottom: 160px;
    right: 2000px;
    animation: casa2-noite-animacao 60s linear 125s forwards;
    background-repeat: no-repeat;
}

.igreja3-noite.i3nanimada{
    position: absolute;
    width: 350px;
    bottom: 160px;
    right: 2000px;
    animation:  igreja3-noite-animacao 60s linear 145s forwards;
    background-repeat: no-repeat;
}

.balao1.b1animado{
    position: absolute;
    width: 70px;
    bottom: 200px;
    right: 2000px;
    animation: balao1-animacao 50s linear 130s forwards;
    background-repeat: no-repeat;
}

.cacto1-noite.c1nanimado{
    position: absolute;
    width: 120px;
    bottom: 110px;
    right: 2000px;
    animation:  cacto1-animacao 40s  linear 120s 2 forwards;
    background-repeat: no-repeat;
}

.cacto2-noite.c2nanimado{
    position: absolute;
    width: 100px;
    bottom: 100px;
    right: 2000px;
    animation:  cacto2-noite-animacao 44s linear 135s 2 forwards;
    background-repeat: no-repeat;
}

@keyframes fundo-transicao{
    0%{
        background-image: url('../img/fundo-dia.jpg');
        
    }
    
    50%{
        background-image: url('../img/fundo-dia.jpg');
        
    }
    51%{
        background-image: url('../img/fundo-noite.jpg');
        
    }
    100%{
        background-image: url('../img/fundo-noite.jpg');
    }
}

@keyframes chao-transicao{
    0%{
        background-image: url('../img/chão-dia.png');
    }
    
    50%{
        background-image: url('../img/chão-dia.png');
        
    }
    51%{
        background-image: url('../img/chão-noite.png');
        
    }
    100%{
        background-image: url('../img/chão-noite.png');
    }
}

@keyframes milho-animacao{
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}

@keyframes fogueira-animacao{
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}

@keyframes pedra-animacao{
    from {
        right: -900px;
    }

    to {
        right: 100%;
    }
}

@keyframes personagem-pulo{

    0% {
        bottom: 0;
    }

    30%{
        bottom: 250px;
    }

    40%{
        bottom: 250px;
    }

    45%{
        bottom: 250px;
    }

    50% {
        bottom: 250px;
    }

    53%{
        bottom: 250px;
    }

    55%{
        bottom: 250px;
    }

    60%{
        bottom: 250px;
    }

    65%{
        bottom: 250px;
    }

    70% {
        bottom: 250px;
    }

    100%{
        bottom: 0;
    }

}

@keyframes cacto1-animacao{
    from {
        right: -200px;
    }

    to {
        right: 100%;
    }
}

@keyframes cacto2-animacao{
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes cacto2-noite-animacao{
    from {
        right: -150px;
    }

    to {
        right: 100%;
    }
}

@keyframes igreja1-animacao{
    from{
        right: -400px;
    }

    to{
        right: 100%;
    }
}

@keyframes igreja2-animacao{
    from{
        right: -250px;
    }

    to{
        right: 100%;
    }
}

@keyframes arbusto-animacao{
    from{
        right: -500px;
    }

    to {
        right: 100%;
    }
}

@keyframes sol-animacao{
    from{
        top: -200px;
    }

    to {
        top: 94%;
    }
}

@keyframes lua-animacao{
    from{
        bottom: -10px;
    }

    to {
        bottom: 100%;
    }
}

@keyframes nuvem1-animacao{
    from{
        right: -150px;
    }

    to {
        right: 100%;
    }
}

@keyframes casa1-animacao{
    from{
        right: -750px
    }
    to {
        right: 100%;
    }
}

@keyframes casa1-noite-animacao{
    from{
        right: -220px
    }
    to {
        right: 100%;
    }
}

@keyframes casa2-animacao{
    from{
        right: -1500px
    }
    to {
        right: 100%;
    }
}

@keyframes casa2-noite-animacao{
    from{
        right: -500px
    }
    to {
        right: 100%;
    }
}

@keyframes igreja3-dia-animacao{
    from{
        right: -2000px;
    }

    to{
        right: 100%;
    }
}

@keyframes igreja3-noite-animacao{
    from{
        right: -400px;
    }

    to{
        right: 100%;
    }
}

@keyframes passaro-animacao{
    from{
        right: -5000px;
    }

    to{
        right: 100%;
    }
}

@keyframes balao1-animacao{
    from{
        right: -100px;
        bottom: 200px;
    }
    to{
        right: 100%;
        bottom: 100%;
    }
}