.container{
    display: flex;
}

.container img{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
}

.container a img{  
    width: 150px;
    height: 150px;
    margin-left: 880px;
    margin-top: 640px; 
    position: absolute;
    z-index: 1; 
}

